【创建数据库】

In [3]:

import sqlite3
conn = sqlite3.connect("/Volumes/DATUM/PythonLab/test.db")    

c = conn.cursor()

# 创建表格
c.execute('''CREATE TABLE category(id int primary key, sort int, name text)''')
c.execute('''CREATE TABLE book
      (id int primary key, 
       sort int, 
       name text, 
       price real, 
       category int,
       FOREIGN KEY (category) REFERENCES category(id))''')

# 提交
conn.commit()

# 关闭连接
conn.close()

【插入数据】

In [ ]:

import sqlite3
conn = sqlite3.connect("d:/test.db")
c    = conn.cursor()

books = [(1, 1, 'Cook', 3.12, 1),
    (2, 3, 'Python', 17.5, 2),
    (3, 2, 'OS', 13.6, 2),
]

# 执行插入命令 
c.execute("INSERT INTO category VALUES (1, 1, 'kitchen')")
# 执行多条命令
c.executemany('INSERT INTO book VALUES (?, ?, ?, ?, ?)', books)

conn.commit()
conn.close()

【查询数据】

In [ ]:

import sqlite3
conn = sqlite3.connect('d:/test.db')
c = conn.cursor()

# 查询一条记录
c.execute('SELECT name FROM category ORDER BY sort')
print(c.fetchone())

# 查询列表中所有记录
c.execute('SELECT * FROM book WHERE book.category=1')
print(c.fetchall())

for row in c.execute('SELECT name, price FROM book ORDER BY sort'):
print(row)
运行结果如下所示：
('kitchen',)
[(1, 1, 'Cook', 3.12, 1)]
('Cook', 3.12)
('OS', 13.6)
('Python', 17.5)

【修改删除数据】

In [ ]:

conn = sqlite3.connect("d:/test.db")
c = conn.cursor()

# 修改记录
c.execute('UPDATE book SET price=? WHERE id=?',(1000, 1))
# 删除记录
c.execute('DELETE FROM book WHERE id=2')

conn.commit()
conn.close()

操作MySQL

【创建数据库表】

In [ ]:

import pymysql           
# 打开数据库连接
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd=' ', db='blog', charset='utf8')
cursor = conn.cursor()          # 使用 cursor() 方法创建一个游标对象 cursor
 # 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 # 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
cursor.execute(sql)         # 执行SQL语句
conn.commit()          # 提交，不然无法保存新建或者修改的数据
cursor.close()            # 关闭游标
conn.close()              # 关闭数据库连接

【插入操作】

In [ ]:

使用 INSERT 语句向表 EMPLOYEE 插入记录。
# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   cursor.execute(sql)
   conn.commit()
except:
   conn.rollback()

【查询操作】

In [ ]:

查询EMPLOYEE表中salary（工资）字段大于1000的所有数据。
# SQL 查询语句
sql = "SELECT * FROM EMPLOYEE  WHERE INCOME > '%d'" % (1000)
try:
   cursor.execute(sql)
   #将所有查询结果返回为元组  
   results = cursor.fetchall()
   for row in results:
      fname = row[0]
      lname = row[1]
      age = row[2]
      sex = row[3]
      income = row[4]
       # 打印结果
      print ("fname=%s,lname=%s,age=%d,sex=%s,income=%d" % (fname, lname, age, sex, income ))
except:
   print ("Error: unable to fetch data")

【更新操作】

In [ ]:

实现 TESTDB表中的 SEX 字段全部修改为 'M'，AGE 字段递增1的操作。

# SQL 更新语句
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
   cursor.execute(sql)
   conn.commit()
except:
   conn.rollback()

【删除操作】

In [ ]:

删除数据表 EMPLOYEE 中 AGE 大于 20 的所有数据。

# SQL 删除语句
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   cursor.execute(sql)
   conn.commit()
except:
    conn.rollback()